<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario delete</title>
</head>
<body>
    <form action="/produtos/delete" method="post">
        <div>
            <label for="id">ID livro</label>
            <input type="text" id="id" name="id" placeholder="informe o id"/>
        <input type="submit" value="gravar"/>
    </form>
</body>
</html>